
.ontop{ 
    margin: 0% 10% 0% 10%;
    width: 80%;
    background-size: cover;
    height: 100%;
    padding-top: 40px;
    border-radius: 8px;
}
#headline{
    font-size:70px;
}
#abc{
display: flex;
margin: 0% 13% 0% 13%;
width: 80%;
}
.xyz{
    width: 180px;
    height: 220px;
    border-radius: 8px;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
#trade{
    background-color: rgb(25, 123, 189);
}

#farming{
    background-color: rgb(17, 163, 115);
}
#staking{
    background-color: rgb(247, 147, 26);
}
#ifo{
    background-color: rgb(64, 64, 64);
}







.unlockwallet{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 70%;
    margin-bottom: 3%;
    margin-top: 3%;
    border: 1px solid rgba(255,255,255,.2);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    background: #F8F8F8;
}
.wltone{
    padding:5%;
}
.wlttwo{
    padding: 5%;
}

.height{
    height: 30vmin;
    width:  36vmin;
    color:#f7a816;
}

.mybtn{
    background: none;
    border-radius: 10px;
    width: 300px;
    height: 70px;
    padding:2%;
    border-color: orange;
    font-weight: bolder;
    font-size: 25px;
}
.mybtn:hover{
    background: orange;
    color: white;
}
.orange{
    color:orange;
}

.biggerr{
    font-size: 27px;
}

.green{
    color: green;
}
.newicon{
    height: 40vmin;
    width:  22vmin;
    color:orange
}