
.ontop{ 
    margin: auto;
    width: 80%;
    background-size: cover;
    height: 100%;
    padding-top: 40px;
    border-radius: 8px;
}
#headline{
    font-size:70px;
    font-family: GilroyMedium;
    font-size: 64px;
    font-weight: 700;
    color: rgb(25, 123, 189);
    margin-bottom: -3%;
    text-align: center;
}
#abc{
display: flex;
margin: 0% 13% 0% 13%;
width: 80%;
}
.xyz{
    width: 180px;
    height: 220px;
    border-radius: 8px;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: block;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
    border: 1px solid rgba(255,255,255,.2);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    
}
#color{
    color: white;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: rgba(2, 2, 2, 0.35) 0px 5px 15px;
    margin-top: 20%;
    margin-bottom: 15%;
    width: 60%;
    height: 60%;
}
#color:hover{
    margin-top:-30%;
}
#trade{
    background-color: rgb(25, 123, 189);
}
#farming{
    background-color: rgb(17, 163, 115);
}
#staking{
    background-color: rgb(247, 147, 26);
}
#ifo{
    background-color: rgb(64, 64, 64);
}
.unlockwallet{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
    margin-bottom: 3%;
    margin-top: 3%;
    border: 1px solid rgba(255,255,255,.2);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    background: #F8F8F8;
}
.wltone{
    padding:3%;
}
.wlttwo{
    padding: 3%;
}

.height{
    height: 200px;
    width:  200px;
    color:#f7a816;
}