
.ontop{
    background-image: url("https://dcxa.io/sliders/1636222743.png");
    width: 100%;
    height: 100%;
    position:absolute;
    top:100px;
    padding-top: 150px;
    opacity:0.6;
    border-radius: 8px;
}
#headline{
    font-size:70px;
}
.xyz{
    background-color: black;
    width: 180px;
    height: 220px;
    position:absolute;
    top:750px;
    opacity:0.5;
    border-radius: 8px;
}
#trade{
    left:200px;
}
#farming{
    left:450px;
}
#staking{
    left:700px;
}
#ifo{
    left:950px;
}