.green{
    color: rgb(80, 186, 235);
    font-size: smaller;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.more-info{
    border: none;
    background-color: transparent;
    font-size: medium;
}
.big{
    font-size: x-large;
    font-weight: bolder;
}
.send{
    background: linear-gradient(90deg, rgba(238, 164, 195, 0.8) 0%, rgba(84, 162, 235, 0.8) 100%);
    border: none;
    color: white;
    padding: 7px;
    font-size: medium;
    right: 0;
}

.pr{display: flex !important;
    align-items: center;
    justify-content: center;
}
.heading{
color:#01A1FE;
}
.leftr{
    margin-right: 0px !important;
    position:absolute !important;
    border: 1px solid white;
}
@media screen and (max-width:728px){
.pr{
    flex-direction: column !important;
    
}
}

.heading{
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container_bridge{
    border-radius: 25px !important;
}

/* background */
/* #323c50 */
/* #2c3446 */
/* #1f2739 */

/* #fff842 */


/* #403e10 --text*/
