.cont{
    width: 90%;
    /* background-color: #42CCA1; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    height: fit-content;
    padding: 1.4%;

    border-radius: 20px;
    background: rgba(0,0,0,.4);
    border: 1px solid rgba(255,255,255,.2);
    box-shadow: 2px 2px 8px rgba(255,255,255,.1);
}

.first{
    width: 30%;
    height: 100%;
}

.second{
    height: 100%;
    width: 20%;
    
}

.third{
    width: 30%;
    height: 100%;
}

.fourth{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex{
    display: flex;
}

.first-btn{
    transition:transform 250ms cubic-bezier(0.1, 0.2, 0.3, 0.4);
    border: none;
    background-color: #3266D3;
    color: white;
    font-size: small;
    width: fit-content;
    height: 40px;
    border-radius: 10px;
}

.second-btn{
    border: none;
    background-color: #D117E7;
    color: white;
    font-size: small;
    width: fit-content;
    height: 40px;
    border-radius: 10px ;
}
.white{
    color: white;
    font-size: larger;
    font-weight: bold;
}

.design {
    background: linear-gradient(to right, #d1e0f0, #05f5a9);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 2%;
    color: white;
    padding-bottom: 2%;
    padding-left: none;
    padding-right: none;
    font-weight: bolder;
}

.bigger{
    font-size: medium;
    margin: 0;
}

.whiter{
    color: white;
}

.linkk a{
    text-decoration: none;
    color: white;
}

.center{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.farm{
    background: linear-gradient(90deg, rgba(238, 58, 136, 0.8) 0%, rgba(54, 108, 244, 0.8) 100%);
    width: fit-content;
    padding: 5%;
    padding-left: 12%;
    padding-right: 12%;
    border-radius: 15px;
    border:none;
    color: white;
}
.farm:hover{
    background: linear-gradient(
        90deg, rgba(212, 17, 102, 0.8) 0%, rgba(15, 77, 236, 0.8) 100%);
}

.according{
    font-size: 2.03vmin;
}

.bigger{
    font-size: 2.7vmin;
}
.yellow{
    color:yellow;
}

.change{
    font-family: 'Trebuchet MS';
}

.imgsize{
    display: flex;
    align-items: center;
}
.negmarginleft{
    margin-left: -8px;
}
.img{
    height: 25px;
    width: 25px;
    border-radius: 12.5px;
}