.farm_main_container{
display:flex;
margin: auto;
margin-top: 25px;
gap: 20px;
width: 72%;
grid-template-columns: repeat(2, 1fr);

padding: 10px;
}
.farm_subcontainer{
    width: 50%;
    background-color: rgb(228, 97, 73);
    border-radius: 19px;

}
.farm_unlockbutton{
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 19px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 4px;
    color: rgb(228, 97, 73);
    cursor: pointer;
    display: flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    margin: auto;
    width: 70%;
    height: auto;
    line-height: 1;

    letter-spacing: 0.03em;
    -webkit-box-pack: center;
    justify-content: center;
    outline: 0px;
    padding:10px;
    transition: background-color 0.2s ease 0s;
}
.farm_unlockbutton:hover:not(:disabled):not(:active){
    background-color: rgb(250, 224, 220);
    border-color: currentcolor;
}
button{
    border:none;
    background: none;
}

.farm_subcontainer_upper
{
    padding: 24px;
}
.farm_subcontainer_subupper{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.farmtext{
    font-size: 42px;
    font-weight: bolder;
    color: white;
    margin-top: 0px;
    line-height: 1;
    font-family: GilroyRegular, sans-serif !important;
    text-align: left;
}
.logo{
    width: 245px;
    height: 142px;
    border-radius: 42px;
    color: white;
    margin-top: -2px;
}
.farm_kebabtoharvest
{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.kebab1
{
    font-family: GilroySemiBold;
    font-size: 30px;
    color: white;
    margin-bottom: 19px;
}
.locked
{
    margin-bottom: 12px;
}
.locked11
{
    font-family: GilroySemiBold;
    color: rgb(243 205 198);
    font-size: 22px;
    font-weight: 300;
    line-height: 1.2;
}

.farm_kebabtowallet
{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.Dcxatowallet
{
    font-family: GilroySemiBold;
    font-size: 30px;
    color: white;
    margin-bottom: 19px;
}
.lockedd
{
    margin-bottom: 12px;
}
.lockedd11{
    font-family: GilroySemiBold;
    color: rgb(243 205 198);
    font-size: 22px;
    font-weight: 300;
    line-height: 1.2;
}

.htRmZZ {
    fill: currentcolor;
    flex-shrink: 0;
    margin-left: 0.5rem;
}
.fartweet
{
    background-color: rgb(237, 241, 243);
    box-shadow: none;
    width: 50%;
    height: 439px;
    margin: auto;
    border-radius: 19px;
    color: rgb(35, 0, 30);
    overflow: hidden;
    position: relative;
}
.farm_tweet{
    padding: 24px;
}

.farm_tweet_header{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.tweet_text{
    font-size: 40px;
    text-align: left;
    font-weight: bolder;
    color: rgb(29, 161, 242);
    margin-top: 14px;
    padding-bottom: 0px !important;
    margin-bottom: 0px;
    line-height: 1;
}
.farm_tweet_img{
    width: 96px;
    height: 78px;
}

.farm_tweet_maincontent{
    width:100% ;
    height:60%;
    margin:auto;
}

